<!DOCTYPE html>
<html>
  <head>
    <title>Formulario</title>
    <!-- Agrega el enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
    body{
      background-color: aliceblue;
    }
    .container{
      padding-bottom: 5%;
    }
    h1{
      color: dimgray;
      width: 60%;
      margin: 
      0 auto;
    }
    .radio-checker{
      margin-left: 0;
    }
    .col-sm-10{
      margin-left: 10%;
    }
    form{
			background-color: white;
			border-radius: 1%;
			color: #999;
			font-size: 0.8em;
			padding: 2%;
      padding-top: 0%;
			margin: 0 auto;
			width: 60%;
		}</style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Modelos de IA para el diagnóstico de salud del corazón</h1>
      <form action="/api/predict" method="post">
        <fieldset class="border p-2 mt-4">
          <legend class="w-auto text-center">Características personales</legend>
          <fieldset class="form-group">
            <div class="row radio-checker">
              <legend class="col-form-label pt-0">Sexo:</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sex" id="male" value="1" onchange="changeAlcoholText()" required>
                  <label class="form-check-label" for="male">
                    Hombre
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sex" id="female" value="0" onchange="changeAlcoholText()">
                  <label class="form-check-label" for="female">
                    Mujer
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <label for="age">Edad:</label>
            <input type="number" name="age" id="age" class="form-control" min="18" required>
          </div>
          <fieldset class="form-group">
            <div class="row radio-checker">
              <legend class="col-form-label pt-0">Nivel educativo:</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="education" id="parbulario" value="1" required>
                  <label class="form-check-label" for="parbulario">
                    Parvulario
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="education" id="colegio" value="2">
                  <label class="form-check-label" for="colegio">
                    Colegio
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="education" id="sinInstituto" value="3">
                  <label class="form-check-label" for="sinInstituto">
                    Insituto sin terminar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="education" id="instituto" value="4">
                  <label class="form-check-label" for="instituto">
                    Instituto
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="education" id="sinUni" value="5">
                  <label class="form-check-label" for="sinUni">
                    Universidad sin terminar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="education" id="uni" value="6">
                  <label class="form-check-label" for="uni">
                    Graduado o superior
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row radio-checker">
              <legend class="col-form-label pt-0">Ingresos anuales:</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="income" id="diez" value="1" required>
                  <label class="form-check-label" for="diez">
                    10.000 o menos
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="income" id="colegio" value="2">
                  <label class="form-check-label" for="colegio">
                    Entre 10.001 y 15.000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="income" id="sinInstituto" value="3">
                  <label class="form-check-label" for="sinInstituto">
                    Entre 15.001 y 20.000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="income" id="instituto" value="4">
                  <label class="form-check-label" for="instituto">
                    Entre 20.001 y 35.000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="income" id="sinUni" value="5">
                  <label class="form-check-label" for="sinUni">
                    Entre 35.001 y 50.000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="income" id="uni" value="6">
                  <label class="form-check-label" for="uni">
                    Entre 50.001 y 75.000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="income" id="uni" value="6">
                  <label class="form-check-label" for="uni">
                    Más de 75.000
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          </fieldset>
          <fieldset class="border p-2 mt-4">
            <legend class="w-auto text-center">Salud</legend>
          <div class="form-group">
            <label for="stroke">Alguna véz ha tenido un ataque cerebral:</label>
            <input type="checkbox" name="stroke" id="stroke">
          </div>
          <fieldset class="form-group">
            <div class="row radio-checker">
              <legend class="col-form-label pt-0">Padece algún tipo de diabetes:</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="diabetes" id="nodiabetes" value="0" required>
                  <label class="form-check-label" for="nodiabetes">
                    Sin diabetes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="diabetes" id="prediabetes" value="1">
                  <label class="form-check-label" for="prediabetes">
                    Pre-diabetes o diabetes limítrofe
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="diabetes" id="diabetes" value="2">
                  <label class="form-check-label" for="diabetes">
                    Diabetes
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <label for="highBP">Algúna vez ha tenido la presión arterial alta:</label>
            <input type="checkbox" name="highBP" id="highBP">
          </div>
          <div class="form-group">
            <label for="highChol">Alguna vez ha tenido el colesterol alto:</label>
            <input type="checkbox" name="highChol" id="highChol">
          </div>
          <div class="form-group">
            <label for="cholCheck">Se ha checkeado el colesterol en los utlimos 5 años:</label>
            <input type="checkbox" name="cholCheck" id="cholCheck">
          </div>
          <div class="form-group">
            <label for="bmi">Índice de masa corporal <a href="https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmi-m_sp.htm" target="_blank">(BMI)</a>:</label>
            <input type="number" name="bmi" id="bmi" class="form-control" required>
          </div>
          <fieldset class="form-group">
            <div class="row radio-checker">
              <legend class="col-form-label pt-0">Salud general, como se ha sentido:</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="genHlth" id="excelente" value="1" required>
                  <label class="form-check-label" for="excelente">
                    Excelente
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="genHlth" id="muybuena" value="2">
                  <label class="form-check-label" for="muybuena">
                    Muy buena
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="genHlth" id="buena" value="3">
                  <label class="form-check-label" for="buena">
                    Buena
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="genHlth" id="regular" value="4">
                  <label class="form-check-label" for="regular">
                    Regular
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="genHlth" id="mala" value="5">
                  <label class="form-check-label" for="mala">
                    Mala
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <label for="mentHlth">Nº de dias con mala salud mental (incluye el estrés, la depresión y los problemas emocionales) en los últimos 30 días:</label>
            <input type="number" name="mentHlth" id="mentHlth" class="form-control" min="0" max="30" required>
          </div>
          <div class="form-group">
            <label for="physHlth">Nº de dias con mala salud física en los últimos 30 días:</label>
            <input type="number" name="physHlth" id="physHlth" class="form-control" min="0" max="30" required>
          </div>
        </fieldset>
        
        <fieldset class="border p-2">
          <legend class="w-auto text-center">Actividad y Consumo</legend>
          
          <div class="form-group">
            <label for="smoker">Fumador (almenos 100 cigarrillos en su vida):</label>
            <input type="checkbox" name="smoker" id="smoker">
          </div>
          <div class="form-group">
            <label for="diffWalk">Dificultad para caminar/subir escaleras:</label>
            <input type="checkbox" name="diffWalk" id="diffWalk">
          </div>
          <div class="form-group">
            <label for="physActivity">Actividad física (ha realizado ejercicio en los útlimos 30 días):</label>
            <input type="checkbox" name="physActivity" id="physActivity">
          </div>
          <div class="form-group">
            <label for="fruits">Consumo de frutas (mínimo 1 al día):</label>
            <input type="checkbox" name="fruits" id="fruits">
          </div>
          <div class="form-group">
            <label for="veggies">Consumo de vegetales (mínimo 1 al día):</label>
            <input type="checkbox" name="veggies" id="veggies">
          </div>
          <div class="form-group">
            <label for="hvyAlcoholConsump">Rellene el campo de sexo:</label>
            <input type="checkbox" name="hvyAlcoholConsump" id="hvyAlcoholConsump">
          </div>
          <div class="form-group">
            <label for="anyHealthcare">Seguro/cobertura médica contratada:</label>
            <input type="checkbox" name="anyHealthcare" id="anyHealthcare">
          </div>
          <div class="form-group">
            <label for="noDocbcCost">No ha acudido al médico en el último año por el coste de acudir:</label>
            <input type="checkbox" name="noDocbcCost" id="noDocbcCost">
          </div>
        </fieldset>
        <div class="col-md-12 text-center" style="margin-top: 1%;">  
          <button type="submit" value="Enviar" class="btn btn-primary">
            <i class="far fa-paper-plane mr-2 fa-sm"></i>Enviar
          </button>
        </div>
      </form>
    </div>
      
      <!-- Agrega el enlace a Bootstrap JS y jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
    function changeAlcoholText() {
      var sex = document.querySelector('input[name="sex"]:checked').value;
      var alcoholLabel = document.getElementById('hvyAlcoholConsump');
    
      if (sex === "1") {
        alcoholLabel.labels[0].textContent = "Consumo de al menos 14 bebidas alcoholicas a la semana:";
      } else if (sex === "0") {
        alcoholLabel.labels[0].textContent = "Consumo de al menos 7 bebidas alcoholicas a la semana:";
      } else {
        alcoholLabel.labels[0].textContent = "Rellene el campo de sexo";
      }
    }
    </script>
  </body>
</html>
  